body {
  color: red;
  background-image: url(../img/marble-black-background.jpg),
    url(../img/marble-2398946_1920.jpg);
  background-position: right, left;
  text-align: center;
}

.header {
  position: fixed;
}
.octo{
  height: 1000px;
}
.octoOut{
  position: fixed;
  top: 100px;
  left: 45%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  z-index: 10;
}
.octoInn{
  position: absolute;
  top: 0px;
  width: 200px;
  height: 200px;
  background: rgba(255,255,255,.25);
  border-width: 2px;
  border-style: solid;
  transform: rotate(45deg);
}
.hide {
  color: darkred;
}

.container {
  display: flex;
}
h3 {
  font-style: italic;
  font-size: 1rem;
}
