body {
  color: black;
  background-image: url(/img/lilac-angled-front-2-1024x768.jpg);
  /*background-image: url(/img/spritesheet.png);
  background-position: 20px 0px;*/
  text-align: center;
}
.hide {
  display: none;
}
.header {
  position: fixed;
  top:0;
}
.container {
  display: flex;
  border: 1px solid red;
  margin: auto;
}
.principale{
  color: white;
}
.pp{
  width: 250px;
}
h1{
  font-weight: bold;
  font-size: 1.5rem;
}
.subtitle{
  color: antiquewhite;
  font-style: italic;
}

/*
.octo{
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
}
.octo:before{
  content: "";
    position: absolute;
    top: 0;
    left: 0;    
    border-bottom: 29px solid red;
    border-left: 29px solid #eee;
    border-right: 29px solid #eee;
        width: 42px;
    height: 0;
}
.octo:after{
  content: "";
    position: absolute;
    top: 0;
    left: 0;    
    border-bottom: 29px solid red;
    border-left: 29px solid #eee;
    border-right: 29px solid #eee;
        width: 42px;
    height: 0;
}
*/



