body {
  color: red;
  background-image: url(../img/marble-black-background.jpg),
    url(../img/marble-2398946_1920.jpg);
  background-position: right, left;
  text-align: center;
}

.header {
  position: fixed;
}

.hide {
  color: darkred;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
}
h3 {
  font-style: italic;
  font-size: 1rem;
}
